 body{
 	background-image: url(../images/background.jfif);
 	font-family: Arial, Helvetica, sans-serif;
 }
 .header {
	background: url('../images/header.jpg');
	width: 100%;
	height: 250px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
fieldset{
    border:2px solid blue;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    min-height: 300px;
    background-image:url('../images/notes.jpeg');
}
.clear{
  float: right;
  padding: 10px;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 200px 405px;
  cursor: pointer;
}
.content{
	margin-left: 400px;
	margin-right: 400px;
}
.additem{
	margin-left: 400px;
	margin-right: 400px;
	padding: 5px;
}
legend{
	font-size: 1.875em;
	font-family: Arial, Helvetica, sans-serif;
	color: yellow;
}
.text{
	color:white;
	font-size: 20px;
	word-break: break-all;
}
input[type=text]{
    width:93%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 3px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
input[type=text]:focus{
    border-color: Blue;   
    background-color:#d9d9d9;
}
input[type=checkbox]{
    width: 18px; 
    height: 18px; 
    cursor: pointer;
}
#add{
   background-color: red;
  border: none;
  color: white;
  padding: 2px;
  width:33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 100%;
}
span{
	font-size: 20px;
	float: right;
	color: yellow;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
}
